/* font-family: 'Cinzel', serif;
font-family: 'Cormorant Garamond', serif;
font-family: 'Forum', cursive;
font-family: 'Libre Baskerville', serif;
font-family: 'Prata', serif; */



body {
  color: rgb(13, 36, 16);
  background: url(./images/ivybackground1.jpg) !important;
  background-color: rgb(46, 45, 45) !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}


.App {
  text-align: center;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}




.ui.secondary.menu .item {
  color: rgb(238, 236, 236) !important;  /* Fallback: assume this color ON TOP of image */
  background: url(https://images.creativemarket.com/0.1.0/ps/3117791/300/200/m2/fpc/wm0/oi1o929rioedbm29r6eygrne3onlsvxewbjmvrds3ddquy7jkj2svhi2fbcgeiyi-.jpg?1502725711&s=cf42cc77b82d8850fc8fa96d57f666a1) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  font-size: 1.1rem;
}

.home-page-header h2 {
  color: white;  /* Fallback: assume this color ON TOP of image */
  background: url(./images/bestgoldleaf.jpg) ;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 300;
  
}



.nav-logo img{
  max-height: 8vh;
  position: absolute;
  top: 5px;
  left: 48vw;
}

.ui.secondary.pointing.menu .active.item {
  /* border-color: rgb(138, 123, 58) !important; */
  border-image: url(./images/bestgoldleaf.jpg) 10 10 !important;
  border-bottom-width: 3px !important;
  border-bottom-style: solid !important;
}



.home-page-vid-container {
  width: 100vw;
  max-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: hidden;
  background-attachment: fixed;
  
}




.home-page-container h2{
  color: white;
  position: absolute;
  top: 30vh;
  padding: 20px 30px;
  margin-left: 27vw;
  font-size: 14vh;
  background-color: rgba(255,255,255,0.2);
  letter-spacing: 13px;
  font-family: 'Libre Baskerville', serif;
  line-height: 75%;
  
}

.university-span {
  font-size: 10vh;
  top: -10px;
  line-height: 75%;
}

/* .header-background{
  height: 35vh;
  width: 55vw;
  background-color: rgb(245, 239, 239);
  position: absolute;
  opacity: 0.2;
  top: 29vh;
  left: 23vw;
  filter: drop-shadow(5px 10px 5px black);
} */

 video {
   filter: brightness(60%);
 }

span.header-span{
  font-size: 4.5vh;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 3px;
  display: block;
  line-height: 10vh;
  
}

.home-page-container h3 {
  background-color: rgba(255,255,255,0.2);
  position: fixed;
  bottom: 0px;
  margin: 0px;
  height: 10vh;
  padding-top: 3vh;
  width: 100vw;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 2px;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  color: rgb(235, 193, 103);
  text-shadow: 1px 1px rgb(56, 50, 39);
  font-size: 3.2vh;
  
}



.ui.pointing.secondary.menu{
  background-color: rgb(5, 7, 5);
  background: url(./images/blacktexture.jpg);
  height: 10vh !important;
  margin-bottom: 0px;
  top: 0;
}

.ui.secondary.pointing.menu{
  border-image: url(./images/bestgoldleaf.jpg) 10 10 !important;
  border-bottom-width: 1px !important;
  border-bottom-style: solid !important;
 
}


#nav-container{
  position: sticky !important;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.about-page-container{
  margin-top: 10vh;
  width: 65vw;
  text-align: left;
  margin-left: 17vw;
  /* background-color: rgba(253, 245, 245, 0.2); */
  padding: 60px;
  color: rgb(219, 218, 213);
  font-size: 1.4rem;
  margin-bottom: 10vh;
  font-family: 'Cormorant Garamond', serif;
  letter-spacing: 1px;
}

.left-about-page-container{
  position: absolute;
  left: 3vw;
  top: 20vh;
  width: 40vw; 
}

.right-about-page-container{
  position: absolute;
  right: 3vw;
  top: 20vh;
  width: 48vw; 
  /* background-color: rgba(253, 245, 245, 0.1); */
  padding: 25px;
}

.carousel-container{
  margin-top: 4vh;
  width: 105%;
  overflow: hidden;
  margin-bottom: 10vh;
  max-height: 50vh;
  filter: drop-shadow(5px 10px 7px rgb(7, 7, 7));
}

.carousel-inner img {
  filter: grayscale(30%);
  width: 30vw;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
  width: 7px;
  bottom: 45% !important;
}

.about-page-container hr{
  background-image: url(./images/bestgoldleaf.jpg);
  background-position: center center;
  height: 2px;
  border-style: hidden;
  width: 80%;
  margin-top: 40px;
  margin-bottom: 30px;
}

.about-page-container h2{
  text-align: left;
  font-family: 'Libre Baskerville', serif;
  font-weight: 300;
  color: white;  /* Fallback: assume this color ON TOP of image */
  background: url(./images/bestgoldleaf.jpg) ;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
  font-size: 6rem;
}

.about-page-container h3 {
  font-size: 2.5rem;
  margin-left: 5vw;
  font-weight: 300;
  font-family: 'Cormorant Garamond', serif;
  margin-top: 0px;
  font-style: italic;
}

.about-page-quote p{
  font-style: italic;
  width: 27vw;
  margin-left: 7vw;
  text-align: center;
  margin-bottom: 30px;
  background-color: rgba(253, 245, 245, 0.1);
  padding: 20px 40px;
}

.about-page-container p{
  margin-bottom: 30px;
}


.message-board-container{
  margin-bottom: 20px;
  height: 85vh;
}

.message-board-page{
  padding-top: 5vh;
}

.filter-div{
  margin: 10px;
  text-align:left;
  margin-top: -30px;
  position: fixed;
}

.filter-div label {
  font-size: 1.2rem;
  color:  rgb(143, 131, 70) !important 
  
}

select.filter-category{
  margin-top: 15px;
}
.posts-container {
  height: 70vh;
  width: 60vw;
  margin-right: 5px;
  overflow-y: scroll;
  float: left;
  margin-left: 10vw;
  text-align: left;
  
  background-color: rgba(255,255,255,0.5);
  color: black;
}

.post-form-container{
  /* border-style: solid; */
  bottom: 0;
  width: 60vw;
  min-height: 15vh;
  position: relative;
  float: left;
  margin-left: 10vw;
  margin-top: 5px;
  
  background-color: rgba(255,255,255,0.5);
}

.post-form{
  position: relative;
  float: left;
  text-align: left;
  
}


.post-form textarea {
  resize: none;
  margin: 0 5px;
  margin-top: 10px;
  width:  calc(50vw - 40px); 
  height: calc(22vh - 90px);
  border-radius: 2px;
  position: relative;
  top: 20px;
  background-color: rgba(255,255,255,0.5);
  color: black;
}

.post-form input{
  display: inline-block;
  position: absolute;
  margin: 5px;
  /* border-radius: 3px; */
  color: black;
}

.post-form-dropdown {
  margin-top: 3px;
  float:right;
  margin-left: 25px;
  border-radius: 5px;
}

.post-submit-btn {
  position: absolute;
  margin-top: 20px;
  right: 0px;
  border-radius: 5px;
  border-style: none;
  padding: 7px; 
}

.replies-container {
  height: 70vh;
  width: 23vw;
  float: left; 
  position: relative;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.5);
  color: black;
}

.replies-box-header{
  top: -10px;
  position: absolute;
  right: 12px;
  padding: 0 7px;
  color: white; 
  background: url(./images/bestgoldleaf.jpg);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Forum', cursive;
  font-size: 1.3rem;
  font-weight: 300;
}

.exit-replies{
  position: absolute;
  top: 10px;
  right: 5px;
  border: hidden;
  border-radius: 2px;
  background-color: rgba(255,255,255,0.5);
  color: rgb(158, 140, 79);
}

.single-post-container{
  padding: 10px;
  margin: 20px 10px;
  border-color: rgb(228, 228, 226);
  background-color: rgba(255,255,255,0.7);
  font-size: 1.1rem;
}

.single-post-selected{
  padding: 10px;
  margin: 20px 10px;
  /* border-color: rgb(35, 68, 38); */
  border-image: url(./images/bestgoldleaf.jpg) 4 4;
  border-top: solid 2px;
  border-bottom: solid 2px;
  font-size: 1.1rem;
  /* background-color:rgba(190, 185, 185, 0.7); */
  
  color: white;
}

.reply-button{
  position: relative; 
  float:right;
  bottom: 12px;
  color: rgb(51, 75, 52);
  /* background: url(./images/bestgoldleaf.jpg) ;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  font-family: 'Prata', serif; 
  cursor: pointer;
 
 } 

.replies-list-container{
  height: 60vh;
  padding-top: 20px;
  overflow-y: scroll;
  /* border-bottom-style: solid; */
  border-color: rgb(223, 222, 222);
  

}

.reply-card{
  text-align: left;
  margin: 15px 5px;
  padding: 10px;
  /* border-style: solid; */
  border-color: rgb(218, 218, 217);
  background-color: rgba(255,255,255,0.7)
}

.reply-form-container{
 position: absolute;
 bottom: 0;
 /* background-color: rgba(255,255,255,0.5); */
}

.reply-form-textarea{
  resize: none ;
  width:  calc(20vw - 40px); 
  min-height: calc(20vh - 90px);
  margin-left: 3px;
}

.reply-submit-btn{
  position: absolute;
  bottom: 7px;
  margin-left: 10px;
  padding: 5px 7px;
  border-radius: 2px;
  border: hidden;
}


.admissions-form-container{
  width: 65vw;
  margin-left: 15vw;
  text-align: left;
  margin-top: 15vh;
  padding: 5vh 7vw;
  background-color: rgba(255,255,255,0.3);
  margin-bottom: 15vh;
  font-family: 'Cormorant Garamond', serif;
  
}

.admissions-form-container hr{
  width: 50vw;
  height: 2px;
  background-image: url(./images/bestgoldleaf.jpg);
  background-position: center center;
  border-style: hidden;
}  

.admissions-form-container p {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 7vh;
  font-style: italic;
  width: 85%;
  margin-left: 3vw;
}

.ui.form .field{
  margin-bottom: 17px !important;
  
}

.ui.form .field>label{
  color:  white !important; 
  font-size: 1.4rem !important;
  margin-bottom: 17px !important;
  font-weight: 300 !important;
  width: 90%;
}

.ui.form .field>button{
 
  margin-top: 20px !important;
  color: rgb(27, 48, 23);
}

.quiz-item .ui.input{
  width: 30vw !important;
}

.quiz-item{
  margin-top: 13vh !important;
  margin-bottom: 10vh !important;
  /* margin-left: 3vw !important; */
  margin-right: 5vw !important;
}




.faculty-container{
  margin-left: 10vw;
  width: 70vw;
  /* border-style: solid; */
  overflow: auto;
  margin-top: 70px;
  background-color: rgba(224, 221, 221, 0.2);
  color: white;
  padding-bottom: 20px;
}


.faculty-header{
  margin-top: 7vh;
  font-size: 2rem;
  padding-bottom: 20px;
  letter-spacing: 2px;
  background: url(./images/bestgoldleaf.jpg) ;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.faculty-image{
  display: block;
  float: left;
  margin: 20px;
  height: 200px;
  width: 200px;
  filter: drop-shadow(5px 10px 5px black);
}



.faculty-info-container{
  text-align: left;
  width: 30vw;
  /* border-style: solid; */
  margin-left: 50px;
  float: left; 
  margin-top: 3vh;
  font-family: 'Cormorant Garamond', serif;
}

.faculty-info-container h3{
  font-size: 1.7rem;
  display: inline;
  padding: 7px 13px;
  font-family: 'Cormorant Garamond', serif;
  border: solid 1px;
  border-image: url(./images/bestgoldleaf.jpg) 4 4;
 

}

.faculty-info-container p{
  font-size: 1.2rem;
  margin-top: 20px;
  width: 40vw;
  
}


.faculty-page{
  margin-bottom: 50px;
}

.dept-container{
  margin-bottom: 20vh;
}

.department-info-container{
  text-align: left;
  width: 70vw;
  margin: 0vh 10vw;
  margin-top: 10vh;
  padding: 25px;
  position:relative;
  background-color: rgba(255,255,255,0.1);
  color: white;
  padding: 25px;
  /* margin-bottom: 20vh; */

}

.department-info-container h2 {
  display: inline;
  position: absolute;
  top: 35%;
  width: 15vw;
  font-family: 'Cinzel', serif;
  letter-spacing: 2px;
  font-size: 2rem;
  font-weight: 400;
}

.department-info-container h3 {
  position: relative;
  top: -15px;
  display: inline-block;
  margin-left: 20vw;
  padding-left: 3vw;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 300;
  border-left: solid 2px;
  border-image: url(./images/bestgoldleaf.jpg) 4 4;
}


.department-info-container p {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  color: rgb(232, 236, 232);
  padding: 4px;
  
  border-image: url(./images/bestgoldleaf.jpg) 4 4;
  border-style: double;
  border-width: 1px;
}

.area-of-study-card{
  /* border-style: solid; */
  width: 70vw;
  margin-left: 10vw;
  background-color: rgba(255,255,255,0.2);

  color: white;
  position: relative;
  padding: 7vh 10vw;
  text-align: left;
  
}

.single-aos{
  margin-bottom: 7vh;
  font-size: 1.1rem
}

.aos-name{
  font-weight: bold;
  font-size: 1.4rem
}

.henryfogg-photo{
  background: url(./images/henryfog.jpg);
  background-size: cover;
}

.eleanorlipson-photo{
  background: url(./images/eleanorlipson.jpg);
  background-size: cover;

}

.hamishbax-photo{
  background: url(./images/hamishbax.jpg);
  background-size: cover;
 
}


.pearlsunderland-photo{
  background: url(./images/pearlsunderland.jpg);
  background-size: cover;
}

.helenmyrin-photo{
  background: url(./images/helenmyrin.jpg);
  background-size: cover;
}


.login-form-container{
  text-align: left;
  position: absolute;
  width: 35vw;
  left: 35vw;
  top: 20vh;
  color: white !important;
  padding: 30px 40px;
  padding-left: 60px;
  background-color: rgba(253, 245, 245, 0.15);
  font-family: 'Libre Baskerville', serif;
}

.login-form-container h2{
  font-weight: 300;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.5rem;
  margin-bottom: 30px;
  
}

.login-form-container label{
  font-size: 1.1rem;
}

.login-form-container input{
  font-size: 1rem;
  width: 90%;
  height: 33px;
  background-color: rgba(253, 245, 245, 0.6);
  border-style: hidden;
}

.login-form-container button{
  margin-top: 5px;
  padding: 7px 20px;
  border: hidden;
  border-radius: 3px;
}

.invalid-login{
  margin-top: 20px;
  font-style: italic
}