.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.home-page-vid-container {
  /* background-image: url(./images/classroomshot.mov); */
  width: 100vw;
  max-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: contain; */

}

.message-board-container{
  margin-bottom: 20px;
  height: 85vh;
}

.filter-div{
  margin: 10px;
  text-align:left;
  margin-top: -40px;
}

.filter-category{
 
}

.posts-container {
  border-style: solid;
  height: 70vh;
  width: 60vw;
  margin-right: 5px;
  overflow-y: scroll;
  float: left;
  margin-left: 10vw;
  text-align: left;
  border-radius: 7px;
}


.post-form-container{
  border-style: solid;
  bottom: 0;
  width: 60vw;
  min-height: 15vh;
  position: relative;
  float: left;
  margin-left: 10vw;
  margin-top: 5px;
  border-radius: 5px;
}

.post-form{
  position: relative;
  float: left;
  text-align: left;
  border-radius: 5px;
}

.post-form textarea {
  resize: none;
  margin: 0 5px;
  margin-top: 10px;
  width:  calc(50vw - 40px); 
  height: calc(22vh - 90px);
  border-radius: 5px;
  position: relative;
  top: 20px;
}

.post-form input{
  display: inline-block;
  position: absolute;
  margin: 5px;
  border-radius: 3px;
}

.post-form-dropdown {
  margin-top: 3px;
  float:right;
  margin-left: 25px;
  border-radius: 5px;
}

.post-submit-btn {
  position: absolute;
  margin-top: 20px;
  right: 0px;
  border-radius: 5px;
  border-style: none;
  padding: 7px;
  
}

.replies-container {
  border-style: solid;
  display: inline-block;
  height: 70vh;
  width: 23vw;
  float: left; 
  position: relative;
  border-radius: 5px;
  
}

.replies-box-header{
  top: -10px;
  position: absolute;
  right: 12px;
  background-color: white;
  padding: 0 7px;
  color: grey;
}

.single-post-container{
  padding: 10px;
  margin: 20px 10px;
  border-style: solid;
  border-color: rgb(228, 228, 226);
  border-radius: 5px;
  border-radius: 5px;
}

.replies-list-container{
  height: 60vh;
  padding-top: 20px;
  overflow-y: scroll;
  border-bottom-style: solid;
  border-color: rgb(223, 222, 222);
  border-radius: 5px;

}

.reply-card{
  text-align: left;
  margin: 15px 5px;
  padding: 10px;
  border-style: solid;
  border-color: rgb(218, 218, 217);
  border-radius: 5px;
}

.reply-form-container{
 position: absolute;
 bottom: 0;
 border-radius: 5px;
}

.reply-form-textarea{
  resize: none ;
  width:  calc(20vw - 40px); 
  min-height: calc(20vh - 90px);
  border-radius: 5px;
  margin-left: 3px;
}

.reply-submit-btn{
  position: absolute;
  bottom: 5px;
  margin-left: 5px;
}


.form-container{
  width: 70vw;
  margin-left: 15vw;
}